<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.daomingedu.art">

    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="com.jess.arms.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mvp.ui.activity.UploadVideoPlayActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".mvp.ui.activity.FeedbackActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activity.LocalVideoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activity.UploadVideoListActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity android:name=".mvp.ui.activity.UploadActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.ui.activity.RecordVideoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.LocalVideoDetailActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.jmolsmobile.landscapevideocapture.VideoCaptureActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".mvp.ui.activity.LocalVideoListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BlockUsersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MyStudyCircleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CerCameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CertificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.UploadVideoPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.PianoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".mvp.ui.activity.LocalWorkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.StudyCircleInfoActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mvp.ui.activity.ImageDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.SelectImageVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.UploadShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ModifyMottoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ModifySexActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ModifyNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.PersonInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ModifyPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MusicDanceTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CommonWebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:process=":web"
            android:screenOrientation="portrait" />

        <service android:name=".app.service.InitializeService" />

        <activity
            android:name=".mvp.ui.activity.SplashActivity"
            android:theme="@style/AppTheme.FullScreenTheme.Launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.activity.SelectPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!--
 只要依赖 AutoSize 就必须填写设计图尺寸, 否则报错, 不想使用 AutoSize 就不要依赖 AutoSize
        只要填写完设计图的尺寸, AutoSize 就会自动启动, 以下 dp 尺寸是根据公式 px / (dpi / 160) 求出, 运算时使用测试机的 dpi 即可
        AutoSize 的详细介绍请看这里 https://juejin.im/post/5bce688e6fb9a05cf715d1c2
        -->
<!--        <meta-data-->
<!--            android:name="design_width_in_dp"-->
<!--            android:value="1280" />-->

        <meta-data
            android:name="design_width_in_dp"
            android:value="750" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="1334" /> <!-- Arms 配置 -->
<!--        <meta-data-->
<!--            android:name="design_height_in_dp"-->
<!--            android:value="720" /> &lt;!&ndash; Arms 配置 &ndash;&gt;-->
        <meta-data
            android:name="com.daomingedu.art.app.GlobalConfiguration"
            android:value="ConfigModule" /> <!-- 适配18:9 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <provider
            android:name=".provider.MyProvider"
            android:authorities="com.daomingedu.art.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>